/* .base-container2{
    display: flex;
    justify-content: center;
    border: 1px solid azure;
    height: 300px;
    align-items: center;
    width: 600px;
    background-color: azure;
    margin-left: 400px;
    margin-top: 50px;
    margin-bottom: 100px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5); 
}
.base-container2 h2{

    margin-top: -100px;
    padding: 20px;
    margin-left: 0px;
    width: 498px;
    font-size: 15px;
    text-align: center;
    font-weight: bolder;
}
.base-container2 input{
    width: 400px;
    margin-left: -150px;
    height: 3rem;
    border: 1px solid black;
}
.Paragraph{
    width: 1000px;
    margin-left: -150px;
}
label{
    margin-left: -150px;
}
.reset-btn{
    margin-left: -150px;
}
.base-container2 ::placeholder{
    margin-left: 10px;
} */