/* 
.base-container{
    width: 500px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);  
    margin: 50px auto;
    box-sizing: border-box;
    background-color: cornsilk;
    margin-left: 400px;
    font-weight: bold;
    font-size: 15px;
    opacity: 90%;
    height: 1150px;
}
.base-container h2{
    background-color: ghostwhite;
    margin-top: -100px;
    padding: 20px;
    margin-left: 0px;
    width: 498px;
    font-size: 30px;
    text-align: center;
    font-weight: bolder;
}
.sub-container{
    align-items: center;
    margin-left: 60px;
    width: 500px;       
}

.submit-btn{
    cursor: pointer;
    width: 440px !important;
    margin-left: -70px !important;
    color: black;
    font-weight: bold;
    font-size: 15px;   
}
.base-container label{
    font-size: 15px;
    margin-left: 0px;
}



 */
