@tailwind base;
@tailwind components;
@tailwind utilities;



/* width */
::-webkit-scrollbar {
    width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ffffff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #0f100f;
}

.search-filter::-webkit-scrollbar {
    display: none;
}


@layer base {
    .side-item-active:active{
        @apply text-red-900;
    }
}


