/* .base-container1{
    display: flex;
    justify-content: center;
    border: 1px solid azure;
    height: 350px;
    align-items: center;
    width: 600px;
    background-color: azure;
    margin-left: 400px;
    margin-top: 70px;
    margin-bottom: 100px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5); 
    
}
 .submit{
    width: 200px;
    margin-left: -50px;
    height: 40px;
    font-weight: bold;
    font-size: 15px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
    margin-top: 20px; 
} 
 .block{
    display: block;
    margin-left: -60px;
    width: 500px;
    border-width: 2px solid;
    height: 50px;
  
    
}
.base-container1 label{
   font-weight: bold;
   font-size: 15px;
   margin-left: -60px;
   
} 
.base-container1 input{
    height: 30px;
    
} */